.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 1.7em;
    flex: auto;
    list-style: none;
    padding-bottom: 3em;
    font-weight: bolder;
    padding-right: 1em;
    @media screen and (max-width:1200px){
            
        padding-bottom: 2em;
        
    }
    @media screen and (max-width:900px){
        
        padding-bottom: 2em;
            
    }
    @media screen and (max-width:768px){
        
        padding-bottom: 2em;
    }
    @media screen and (max-width:600px){
        
        padding-bottom: 1em;
    }
    @media screen and (max-width:480px){
        
        padding-bottom: 1em;
    }
    @media screen and (max-width:320px){

        padding-bottom: 1em;
        
    }
    .menu_item .item{
        background-image: linear-gradient( to right, #4b3621,#7B3F00);
        padding-left: .5em;
        color: white;
        display: flex; 
        text-decoration: none;
        flex: auto;
        justify-content: flex-end;
        padding-right: .5em;
        animation-name: cambio_menu; 
        @media screen and (max-width:1200px){
            
            font-size: 50%;
            
        }
        @media screen and (max-width:900px){
            
                font-size: 50%;
                
        }
        @media screen and (max-width:768px){
            
            font-size: 50%;
        }
        @media screen and (max-width:600px){
            
            font-size: 20%;
        }
        @media screen and (max-width:480px){
            
            font-size: 20%;
        }
        @media screen and (max-width:320px){
    
            font-size: 20%;
            
        }
        
       
        
    }
    
    
}